{% block fast_order_form_import %}
        {% block fast_order_form_import_content %}
            <div class="container">

                <div class="row">

                    {% block fast_order_form_import_content_sidebar %}

                        <div class="col-12 col-md-4" style="min-height: 300px;">
                            <h1>{{ 'fast-order-plugin.csvImportHeadline' |trans |striptags }}</h1>
                            <p class="mb-5 mb-md-0">
                                {{ config('FastOrderPlugin.config.fastOrderCsvImportInfoText') |striptags }}
                            </p>

                            <button type="button" class="btn btn-primary position-absolute"
                                    style="bottom: 0; left: 20px; right: 20px;" id="fastOrderImportButton">
                                {{ 'fast-order-plugin.importButtonText' |trans |striptags }}
                            </button>
                        </div>

                    {% endblock %}

                    {% block fast_order_form_import_content_content %}

                        {% set fastOrderCsvUploadPluginOptions = {

                            errorTexts: {
                                'file-input--missing-file': 'fast-order-plugin.errors.file-input--missing-file' |trans |striptags,
                                'file-input--too-many-files': 'fast-order-plugin.errors.file-input--too-many-files' |trans |striptags,
                                'file-input--invalid-file': 'fast-order-plugin.errors.file-input--invalid-file' |trans |striptags,

                                'import-data--invalid-quantity': 'fast-order-plugin.errors.import-data--invalid-quantity' |trans |striptags
                            },

                            columnSelectElements: {
                                productNumber: '#fastOrderProductNumberColumnSelect',
                                amount: '#fastOrderAmountColumnSelect'
                            },

                            invalidFeedbackElements: {
                                csvFileInput: '#fastOrderFileInputInvalidFeedback',
                                productNumber: '#fastOrderProductNumberColumnSelectInvalidFeedback',
                                amount: '#fastOrderAmountColumnSelectInvalidFeedback'
                            },

                            csvInputLabel: '#fastOrderCsvInputLabel',
                            importButton: '#fastOrderImportButton',

                            manualFormFieldIdSchemas: {
                                productNumber: 'fast-order-article-$i',
                                amount: 'fast-order-qtty-$i'
                            },

                            manualInputFormTabControl: '#manual-form-tab',
                            csvImportTabControl: '#csv-upload-tab',

                            manualInputFormInputList: '.fast-order-form-input-list'
                        } %}

                        <div class="container col-12 col-md-8">
                            <div class="row">
                                <div class="input-group mb-3 col-12 col-md-4">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="fastOrderCsvInput"
                                               aria-describedby="fastOrderCsvInputLabel"
                                               data-fast-order-csv-upload-plugin
                                               data-fast-order-csv-upload-plugin-options='{{ fastOrderCsvUploadPluginOptions |json_encode }}'>
                                        <label class="custom-file-label" for="fastOrderCsvInput" id="fastOrderCsvInputLabel">
                                            {{ 'fast-order-plugin.csvInputLabel' |trans |striptags }}
                                        </label>
                                    </div>
                                    <div id="fastOrderFileInputInvalidFeedback" class="invalid-feedback d-block"></div>
                                </div>
                                <div class="col-md-4">
                                    <label class="sr-only" for="fastOrderProductNumberColumnSelect">
                                        {{ 'fast-order-plugin.productNumberColumnSelectLabel' |trans |striptags }}
                                    </label>
                                    <select class="custom-select" id="fastOrderProductNumberColumnSelect">
                                        <option selected value="-1">
                                            {{ 'fast-order-plugin.productNumberColumnSelectLabel' |trans |striptags }}
                                        </option>
                                    </select>
                                    <div id="fastOrderProductNumberColumnSelectInvalidFeedback" class="invalid-feedback"></div>
                                </div>
                                <div class="col-md-4">
                                    <label class="sr-only" for="fastOrderAmountColumnSelect">
                                        {{ 'fast-order-plugin.amountColumnSelectLabel' |trans |striptags }}
                                    </label>
                                    <select class="custom-select" id="fastOrderAmountColumnSelect">
                                        <option selected value="-1">
                                            {{ 'fast-order-plugin.amountColumnSelectLabel' |trans |striptags }}
                                        </option>
                                    </select>
                                    <div id="fastOrderAmountColumnSelectInvalidFeedback" class="invalid-feedback"></div>
                                </div>
                            </div>
                        </div>

                    {% endblock %}

                </div>

            </div>
        {% endblock %}
{% endblock %}
