{% block fast_order_form %}



    {% set fastOrderAdjustableFormPluginOptions = {
        placeholders: {
            productNumber: 'fast-order-plugin.orderTable.productNumberHeader' |trans |striptags,
            amount: 'fast-order-plugin.orderTable.quantityHeader' |trans |striptags,
        },

        fieldNameSchemas: {
            productNumber: 'fast-order-article-$i',
            amount: 'fast-order-qtty-$i'
        }
    } %}

    <form action="{{ path(formRouteName) }}" method="post" data-form-csrf-handler="true">

        {% block fast_order_form_csrf %}
            {{ sw_csrf(formRouteName) }}
        {% endblock %}

        {% block fast_order_form_content %}
            <div class="container">

                <div class="row">

                    {% block fast_order_form_content_sidebar %}

                        <div class="col-12 col-md-4" style="min-height: 300px">
                            <h1>{{ 'fast-order-plugin.title' |trans |striptags }}</h1>
                            <p class="mb-5 mb-md-0">
                                {{ config('FastOrderPlugin.config.fastOrderCsvImportInfoText') |striptags }}
                            </p>

                            <button type="submit" class="btn btn-primary position-absolute"
                                    style="bottom: 0; left: 20px; right: 20px;">
                                {{ 'fast-order-plugin.addToCartButtonText' |trans |striptags }}
                            </button>
                        </div>

                    {% endblock %}

                    {% block fast_order_form_content_content %}

                        <div class="col-12 col-md-8 mt-3">

                            {% block fast_order_form_content_content_violation_alerts %}
                                {% if not (quantityViolations is empty) %}
                                    {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                        type: 'danger',
                                        heading: 'error.fast-order.exceeding-stock--heading'| trans,
                                        list: quantityViolations
                                    } %}
                                {% endif %}
                            {% endblock %}

                            {% if emptyDataViolation %}
                                {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
                                    type: 'danger',
                                    content: 'error.fast-order.empty-order'| trans
                                } %}
                            {% endif %}

                            {% sw_include '@FastOrderPlugin/element/fast-order-form/fast-order-form-header.html.twig' %}

                            <div class="fast-order-form-input-list" data-fast-order-adjustable-form-plugin
                                 data-fast-order-adjustable-form-plugin-options="{{ fastOrderAdjustableFormPluginOptions |json_encode }}">
                                {% if formViolations.getInputData() %}
                                    {% set i=0 %}
                                    {% for fieldName, value in formViolations.getInputData() %}
                                        {% if fieldName starts with 'fast-order-article' %}
                                            {% sw_include '@FastOrderPlugin/element/fast-order-form/fast-order-form-row.html.twig' with { rowCount: i} %}
                                            {% set i=i+1 %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>

                        </div>

                    {% endblock %}

                </div>

            </div>
        {% endblock %}

    </form>
{% endblock %}
